* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background img {
  position: relative;
  top: 100px;
}

.dowloadbox {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 1px solid #a3a3a3;
  width: 400px;
  height: 90px;
  top: -50px;
  left: 110px;
}

.poster {
  height: 100%;
  margin-left: 15px;
  border-radius: 5px;
}

.download-gif {
  height: 70%;
  margin-right: 15px;
}

.text {
  width: 50%;
  color: white;
}

.movie-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.downloading {
  font-size: 1rem;
  color: #0171eb;
}
